@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.SideBar{
    left: 0;
    width: 20%;
}

.nav{
    height: 100%;
    background-color: #0066CC;
    bottom: 0;
    top: 75px;

}

.btn{
    position: absolute;
    height: 50px;
    font-family: Bebas Neue;
    font-weight: 0;
    font-size: 18px;
    color: #fff;
    background-color: #0066CC;
    padding: 1px 30px;
    border: 2px solid #0066cc;
    border-radius: 0px 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.SideBarItem{
    display: flex;
    flex-direction: row;
    border: 3px solid #0066CC;
    background-color: aqua;
}
.SideBarItem + .SideBarItem{margin: -3px 0;}